.container.d-flex.flex-column
            .header.d-flex.flex-column.justify-content-between.align-items-center
                nav.topmenu.d-flex.justify-content-center
                    a(href="#about") About
                    .line.align-self-center
                    a(href="#rules") Rules
                    .line.align-self-center
                    a(href="https://discord.gg/k6Ua4kG") Join
                .server-info.d-flex.align-items-center.flex-column.text-center
                    h1 Cryptide - Discord Bot
                    a.links-suppressor.join-btn.btn-pill.white(href="https://discord.gg/k6Ua4kG") Join Server
                    
            .inner.d-flex.flex-column
                section#about.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                    .image.image1(style="flex-grow: 1")
                    .text
                        h2 About
                        p
                            b Cryptide
                            | &nbsp;is a fun bot which has moderation, image manipulation and more coming soon
                            br
                            br
                            b Some commands are:
                            br
                        ul
                            li Moderation features (kick/ban...)
                            li Image manipulation (wanted, scare, batslap...)
                            li Music features soon
                            li gif search
                            li And much much more
                section.discord-widget
                    iframe.d-flex(src="https://discordapp.com/widget?id=446444105766141953&theme=dark",
                        allowtransparency="true",
                        frameborder="0")
                    
                section#rules.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap.flex-row-reverse
                    .image.image2(style="flex-grow: 1")
                    .text
                        h2 Rules
                        p
                            b Cryptide
                            | &nbsp;is a fun bot invite it and see!
                            br
                            br
                            b Some commands are:
                            br
                        ul
                            li Moderation features (kick/ban...)
                            li Image manipulation (wanted, scare, batslap...)
                            li Music features soon
                            li gif search
                            li And much much more
                            
                section.join.d-flex.justify-content-center
                    .line.align-self-center(style="flex-grow: 1")
                    a.links-suppressor.btn-pill.white(href="https://discord.gg/k6Ua4kG") Join Server
                    .line.align-self-center(style="flex-grow: 1")
                            
            .footer.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                .d-flex
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Staff
                        span CyRIC21#0847
                        span L3NNY#4519
                        span Free TNT#5796
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Devs
                        span CyRIC#0847
                        span Free TNT#5796

                p.align-self-end Cryptide is a fun bot which has moderation, image manipulation and more!
                